<footer>
            <div class="container">
                <div class="footer-left">
                    <p>Amazon inc</p>  
                    <p>Amazon Drive</p>  
                </div>
                
                <ul class="footer-link-social footer-right">
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Google+</a></li>
                </ul>     
            </div>  
        </footer>