  <nav>
    <ul class="nav nav-desktop">
        <a href="/"><img class="brand-logo"  src="/img/logo.JPG"/></a>                    
        <li><a href="/">Home</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/signup">Sign Up</a></li>
        <li><a href="/login">Log In</a></li>
    </ul>
    <div class="nav nav-mobile">
        <a href="/"><img class="brand-logo"  src="/img/logo.JPG"/></a>                    
        <ul class="nav-mobile-tabs">                                
            <li><a href="/">Home</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/login">Log In</a></li>
        </ul>                    
    </div>
</nav>