<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">    
    <title>{{title}}</title>
</head>
<body>
        <header> 
            <nav>
                <ul class="nav nav-desktop">
                    <a href="/"><img class="brand-logo"  src="/img/logo.jpg"/></a>                    
                    <li><a href="/">Home</a></li>
                    <li><a href="/products">Products</a></li>
                    <li><a href="/signup">Sign Up</a></li>
                    <li><a href="/login">Log In</a></li>
                </ul>
                <div class="nav nav-mobile">
                    <a href="/"><img class="brand-logo"  src="/img/logo.jpg"/></a>                    
                    <ul class="nav-mobile-tabs">                                
                        <li><a href="/">Home</a></li>
                        <li><a href="/products">Products</a></li>
                        <li><a href="/signup">Sign Up</a></li>
                        <li><a href="/login">Log In</a></li>
                    </ul>                    
                </div>
            </nav>
         </header>
        <main>          
          
                {{{body}}}
               
        </main> 
        <footer>
            <div class="container">
                <div class="footer-left">
                    <p>Amazon inc</p>  
                    <p>Amazon Drive</p>  
                </div>
                
                <ul class="footer-link-social footer-right">
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Google+</a></li>
                </ul>     
            </div>  
        </footer>
</body>
</html>