<div class="container dashboard">
    <p>
        Hi. {{user.name}} !</p>
    <p>
        You are login as {{user.role}}
    </p> 
    <div>
       You can <a href="/products">Purchase product</a> 
    </div>
</div>