<div class="container">
    <h3 class="alert success-message">Thanks for shopping with us!</h3>
    <div class="general-pad">
        An Email has sent to your account.
        <a type="button" class="" href="/products">Visit product lists</a>
    </div>
</div>