{{!-- <div class="container">
    <h3 class="alert warning">Your cart is empty.</h3>
    <div class="general-pad">
        Continue shopping with us!
        <a type="button" class="" href="/products">Visit product lists</a>
    </div>
</div> --}}